/*!
* Start Bootstrap - Heroic Features (https://startbootstrap.com/template-overviews/heroic-features)
* Copyright 2013-2017 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-heroic-features/blob/master/LICENSE)
*/

body {
padding-top: 54px;
}

@media (min-width: 992px) {
body {
    padding-top: 56px;
}
}

.card {
height: 100%;
}